<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <%= link_to image_tag("nhs.jpeg", alt: "NHS logo"),
              'http://rubyonrails.org/' %>

    <div class="center jumbotron">
    <h1>On-Call Rota Scheduler</h1>
    <p>
      This is the home page for the doctor rota sample application.
    </p>
     <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
  </div>

  </body>
</html>
