<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>CAMS Rota Scheduler</h1>
    <p>
      This is the home page for the doctor rota sample application.
    </p>
  </body>
</html>
